.promo {
  padding: 1rem 0;
}
.content-container {
  width: 90vw;
  max-width: 1170px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 auto;
}

.even-promo-reverse {
  flex-direction: row-reverse;
}

.darker-bg {
  background:var(--lightBlue)
}

.illustration-container {
  flex: 1 1 40%;
  min-width: 400px;
  max-width: 600px;
  overflow: hidden;
  margin: 0 auto;
}

.illustration {
  width: 100%;
}

.text {
  flex: 1 1 60%;
  max-width: 600px;
  padding: 0 1rem 6rem 0;
}

@media screen and (max-width: 1110px) {
  .content-container {
    flex-direction: row;
  }
  .even-promo-reverse {
    flex-direction: row;
  }
  .text {
    text-align: center;
    margin: 0 auto;
    margin-bottom: 2rem;
  }
}
